DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
REDIS_URI="Your Redis Url with port"

ACCESS_TOKEN_SECRET="your-access-token-secret"
ACCESS_TOKEN_EXPIREY="15m"

REFRESH_TOKEN_SECRET="your-refresh-token-secret"
REFRESH_TOKEN_EXPIREY="7d"

VERIFICATION_TOKEN_SECRET="your-verification-token-secret"
VERIFICATION_TOKEN_EXPIREY="1d"

API_TOKEN_SECRET="your-api-token-secret"
API_TOKEN_EXPIREY="30d"

EMAIL="your-gmail-address@gmail.com"
EMAIL_PASSWORD="your-gmail-app-password"